---
layout: default
index: true
---
<div class="col-sm-8 col-sm-offset-2">
    <h3>Welcome to the Montreal Study Space Search!</h3>
    <p>Here, you can look for the perfect spot to get productive. Each study space listed on this site has been added by students like you looking for new places to study in Montreal.</p>
    <p>Through the mapping tool, you can look at Montreal students' favourite study spots and compare their noise levels, food prices and more. If you like what you see, please contribute to the map with your favourite spots to add to the collection currently on the site by filling out <a href="https://docs.google.com/forms/d/e/1FAIpQLScLUYIWn_pTYCawtaXYZ5inQhyldUd06R3_s95ZfxffDZWqpQ/viewform?usp=sf_link" >this form</a>. Enjoy!</p>
    {% for post in site.posts %}
    <div class="post-meta">
        <h3><a href="{{ post.url | prepend: site.baseurl }}">See the {{ post.title }}</a></h3>
        <img src="{{post.featured_image  | prepend: site.baseurl}} ">
        <div class="post-descr">
            {% if post.content contains '<!-- more -->' %}
            <p>{{ post.content | split:'<!-- more -->' | first }}
                <a href="{{ post.url  | prepend: site.baseurl}}" class="btn btn-primary">Read More</a>
            </p>
        </div>
    </div>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.css' rel='stylesheet' />
            <div id='map' style='width: 400px; height: 300px;'></div>
    <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiaWNlY3J5c3RhbDE3IiwiYSI6ImNqMDFoM2RvejA2cHcycHFseXdwZDl6dGMifQ.IhZIlfu00pwrtq8VEBlvOg';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v10'
    });
    </script>
    {% else %} {{ post.content }} {% endif %} {% endfor %}
</div>
